html {
    cursor: none;
    background-image: url("./photos/shelterbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.story {
    width: 70vw;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 55vh;
    cursor: url('./cursor/cursor.png'), auto;
}

button {
    width: 90px;
    height: 200px;
    margin-top: 0vh;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    opacity: 0;
}

.forth {
    margin-left: 88vw;
    cursor: url('./cursor/cursorright.png'), auto;
}

.back {
    cursor: url('./cursor/cursorleft.png'), auto;
}